src/_next/data/jp_QKlSGOnYGznSGOpZpQ/m-page.Page4.json
{"pageProps":{"initialState":{"dolanData":{},"dolanConfig":{},"isLoading":false,"isAuthenticated":false,"isDolanReady":true,"didInvalidateDolan":false,"spinnerText":"","spinnerBackgroundColor":null,"dolanTimestamp":1622550863912,"navConfig":{"blueprint":"legacy","legacyLayouts":{"webMenuType":"side_left"},"initPageId":"page.Page1","defaultPageId":"page.Page1","authenticationEnabled":false,"authPageId":"page.Page1","enabled":true,"headerEnabled":true,"headerText":"","tabs":[{"title":"Empty page","name":"t0"}],"screens":["page.Page1","page.Page2","page.Page3","page.Page4"],"routeConfigs":{"t0":{"initialRouteName":"page.Page1","iconName":"home"},"Login":{}}}},"route":{"name":"m-page.Page4","key":"m-page.Page4"},"screens":{"page.Page1":{"initStateProps":{},"pageFlowId":"page:1","pageId":"page.Page1","title":"Page 1","parameters":{},"pageVariables":{},"events":{"onPageDidMount":[{"id":"2a911734ad509.7d8c3b20aa171"}]},"components":[{"id":"1-a6d20c18-b661-4059-ac11-405c7c986bf8","ch":[{"id":"5c233893-a342-49a3-bdd6-2419a0199d0d"},{"id":"3c76debe-639f-4864-83ee-80bbe794a0ee"},{"id":"9589551d-15ca-4d17-b417-b9dab68230f9"}]}]},"page.Page2":{"initStateProps":{},"pageFlowId":"page:2","pageId":"page.Page2","title":"Global canvas","isGlobalCanvas":true,"parameters":{},"pageVariables":{},"events":{},"components":[{"id":"2-e6602194-00dd-4c72-85cc-ce699e6a5238"}]},"page.Page3":{"initStateProps":{"f84bd35c-6008-42cc-aeb4-f9047b78f4f0":["label","placeholder","keyboardType","disabled","multlineInput","autoCapitalize","passwordInput"],"1396e58e-38b4-459c-83e8-313fbde50f88":["label","placeholder","keyboardType","disabled","multlineInput","autoCapitalize","passwordInput"]},"pageFlowId":"page:3","pageId":"page.Page3","title":"Log in","parameters":{},"pageVariables":{"credentials":{}},"events":{"onPageDidMount":[{"id":"5b31874d.4b6d17f1"}]},"components":[{"id":"3-361b17d0-08fc-4f10-8f2e-09605fbf155e","ch":[{"id":"0ed59b77-6b35-48a3-8b2c-ec11351f99ea"},{"id":"f84bd35c-6008-42cc-aeb4-f9047b78f4f0","ch":[{"id":"91bfad0a-1946-4f7c-ac29-f133858a66f2"},{"id":"2f0cac7c-3209-4282-90bf-aa02598f4266"}]},{"id":"1396e58e-38b4-459c-83e8-313fbde50f88","ch":[{"id":"cdf60e16-7c8f-4324-ba3f-7ea82d8d0646"},{"id":"f5b84b30-698e-4dd8-9211-aa02598f4266"}]},{"id":"2f52859c-b4a3-41fc-87ef-9f6459db804a"}]}]},"page.Page4":{"initStateProps":{},"pageFlowId":"page:4","pageId":"page.Page4","title":"Page 2","parameters":{},"pageVariables":{},"events":{"onPageDidMount":[{"id":"15459e91c236a.c6b701f3d76d4"}]},"components":[{"id":"4-88e8b06b-1133-472b-b9e7-198a391fec7d","ch":[{"id":"318555bc-acaf-4de5-bd8a-5dfe544db014"},{"id":"a2cf7936-4319-4793-942a-e3b78f200d1a"},{"id":"93e434a5-5cd3-4fb8-b94d-b068559bf224"}]}]}},"flows":[{"x":420,"y":50,"z":"own_1d6d336a.9126c","id":"10544d20.64c85","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"response":{"key":"response@@@1ed52ea2.56495","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_bd0c25ba.5aaf3","id":"1182b19b.3b257","func":"const {\n  title,\n  message,\n  dismissLabel,\n  supersonic,\n} = inputs;\n\nawait supersonic.api.alert.show({\n  title,\n  message,\n  buttonTitle: dismissLabel,\n});","type":"function2","noerr":0,"wires":[["d12b40e5.694bb"]],"outputs":1,"function_inputs":{"key":{"title":{"key":"title","source":"input"},"message":{"key":"message","source":"input"},"supersonic":{"key":"supersonic","source":"msg"},"dismissLabel":{"key":"dismissLabel","source":"input"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":420,"y":50,"z":"own_8fe6bea6.1072","id":"1333ac45.8009c","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"response":{"key":"response@@@6afc87de.47ec9","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_97b54227.3b127","id":"147f90f1.617fe","func":"const {\n  time,\n  unit,\n} = msg;\n\nconst unitCoefficientMap = {\n  ms: 1,\n  s: 1000,\n  min: 1000 * 60,\n  h: 1000 * 60 * 60,\n};\n\nif (time <= 0) {\n  return msg;\n}\n\nconst timeToWait = time * unitCoefficientMap[unit];\n\nif (supersonic.api.delay) {\n  supersonic.api.delay(() => { node.send(msg); }, timeToWait, msg.contextId);\n} else {\n  setTimeout(() => {\n    node.send(msg);\n  }, timeToWait);\n}","type":"function","noerr":0,"wires":[[]],"outputs":1},{"x":210,"y":40,"z":"own_2277ac59.912ff","id":"14ff44fa.42c4b","func":"const {\n  page,\n  params,\n  openInModal,\n  supersonic,\n  contextId,\n} = inputs;\nconst options = {\n  route: page,\n  params: params || {},\n};\nconst action = openInModal ? 'pushToModal' : 'pushToStack';\nawait supersonic.api.navigation[action](options, contextId);","type":"function2","noerr":0,"wires":[["b1539337.3b2a5"]],"outputs":1,"function_inputs":{"key":{"page":{"key":"page","source":"input"},"params":{"key":"params","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"},"openInModal":{"key":"openInModal","source":"input"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":420,"y":50,"z":"own_105ec0bb.2f7d7","id":"15f7596e.557a0","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":420,"y":50,"z":"own_212bc4df.27d56","id":"184083d6.635bb","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":210,"y":40,"z":"own_d51109f.3b25d","id":"19b93bf3.89208","func":"const { request, supersonic } = inputs;\nconst { resourceName, id, parameters = {} } = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n  if (!resourceConfig) {\n    // This is assumed to be a legacy data resource\n    const data = await supersonic.resource.find(resourceName, id, {});\n    return data && data.value && data.value.object;\n  }\n  // Load a local data resource\n  if (resourceConfig.type === 'local') {\n    const { appId } = await supersonic.api.app.getAppId();\n    const key = `local-resource:${appId}:${resourceName}:${id}`;\n    const { data: record } = await supersonic.api.asyncStorage.getItem({ key });\n    if (record != null && typeof record === 'object' && typeof record.id !== 'undefined') {\n      return record;\n    }\n    throw new Error(`Record ${resourceName} with ID ${id} not found`);\n  }\n  if (resourceConfig.type === 'agdb') {\n    const data = await supersonic.resource.find(resourceConfig.agdb_id, id, {});\n    return data && data.value && data.value.object;\n  }\n  if (['odata'].includes(resourceConfig.type)) {\n    const driver = supersonic.api.data.drivers[resourceConfig.type];\n    if (!driver) {\n      throw new Error(`Missing driver for Resource ${resourceName}`);\n    }\n    const agQuery = {\n      resource: {\n        ...resourceConfig,\n        // Adding baseURL here as transdolan strips original baseURL...\n        baseURL: resourceConfig.base_url,\n      },\n      operation: 'retrieve',\n      ...request,\n    };\n    const response = await driver.execute(agQuery);\n    if (!response || !response.data || response.data.error) {\n      throw new Error(response.data && response.data.error ? response.data.error : 'Request failed');\n    }\n    return response.data;\n  }\n  // Load a \"REST\" data resource\n  const operation = resourceConfig.operations.retrieve;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support getting a single record`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const headers = {};\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n    // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const response = await fetch(url, { method: 'GET', headers });\n  if (!response.ok) {\n    throw response;\n  }\n  let result = await response.json();\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (result != null && resultPath.length) {\n    result = result[resultPath.shift()];\n  }\n  if (!result) {\n    throw new Error(`A ${resourceName} record not found from the response!`);\n  }\n  return result;\n}\n\ntry {\n  const record = await makeRequest();\n  if (Array.isArray(record)) {\n    const errorStr = 'The server responded with a list for a single data record. The response must be an object.';\n    return [1, {\n      error: {\n        code: 'responseMustBeObject',\n        status: -1,\n        message: errorStr,\n        rawError: new Error(errorStr),\n      },\n    }];\n  }\n  return [0, { record }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["c55913f3.8d802"],["731bd1e9.4983c"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"record":{"name":"record","type":"dataResourceRetrieveResponse","title":"Record","description":"The successfully retrieved record."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown","responseMustBeObject"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while fetching the record.\n- `responseMustBeObject`: Thrown if the server does not return an object as a response for a single data record request."}},"additionalProperties":false}]},{"x":420,"y":100,"z":"own_21057d66.1a85e","id":"1b4bfc12.808a7","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@441d4b92.6ac8d","source":"node"}},"source":"object"}},{"x":420,"y":100,"z":"own_100f5064.6f140","id":"1c88f5a9.1d6dc","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@f0bf1a1a.10aa3","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_91f3e62e.3f65c","id":"1eb859fe.2c9fd","func":"const { supersonic, contextId } = inputs;\nawait supersonic.api.spinner.hide(contextId);","type":"function2","noerr":0,"wires":[["2efe9993.2abdf"]],"outputs":1,"function_inputs":{"key":{"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":210,"y":40,"z":"own_1d6d336a.9126c","id":"1ed52ea2.56495","func":"const { request, supersonic } = inputs;\nconst { resourceName, properties = {}, parameters = {} } = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n  // const gyverDomain = supersonic.api.app.getGyverDomainSync();\n\n  const getTLD = () => {\n    const environment = self.DOLAN.environment.endpoints.data;\n    let TLD = environment.match(/.*\\.(.*gyver\\..{2,5})\\//)[1];\n    if (TLD.includes('/')) {\n      TLD = TLD.substring(9, TLD.length - 3);\n    } else {\n      TLD = TLD.substring(9, TLD.length);\n    }\n    return TLD;\n  };\n\n  const TLD = self.DOLAN ? getTLD() : '';\n  if (!resourceConfig) {\n    if (TLD === 'eu' || TLD === 'black') {\n      throw new Error(`Couldn't find data resource with given name: ${resourceName}.`);\n    }\n    // This is assumed to be a legacy data resource\n    const data = await supersonic.resource.create(resourceName, { object: properties });\n    return data && data.value && data.value.object;\n  }\n\n  // Create a local data resource\n  if (resourceConfig.type === 'local') {\n    const { id } = properties;\n    if (id == null) {\n      throw new Error(`Missing ${resourceName} record ID`);\n    }\n    const { appId } = await supersonic.api.app.getAppId();\n    const key = `local-resource:${appId}:${resourceName}:${id}`;\n    const { data: record } = await supersonic.api.asyncStorage.getItem({ key });\n    if (record != null && typeof record === 'object' && typeof record.id !== 'undefined') {\n      throw new Error(`Record ${resourceName} with ID ${id} already exists`);\n    }\n    await supersonic.api.asyncStorage.setItem({ key, data: properties });\n    return properties;\n  }\n  // Create an AGDB data resource\n  if (resourceConfig.type === 'agdb') {\n    const data = await supersonic.resource.create(resourceConfig.agdb_id, { object: properties });\n    return data && data.value && data.value.object;\n  }\n  if (['odata'].includes(resourceConfig.type)) {\n    const driver = supersonic.api.data.drivers[resourceConfig.type];\n    if (!driver) {\n      throw new Error(`Missing driver for Resource ${resourceName}`);\n    }\n    const agQuery = {\n      resource: {\n        ...resourceConfig,\n        // Adding baseURL here as transdolan strips original baseURL...\n        baseURL: resourceConfig.base_url,\n      },\n      operation: 'create',\n      ...request,\n    };\n    console.log(agQuery);\n    const response = await driver.execute(agQuery);\n    if (!response || !response.data || response.data.error) {\n      throw new Error(response.data && response.data.error ? response.data.error : 'Request failed');\n    }\n    return response.data;\n  }\n  // Create a \"REST\" data resource\n  const operation = resourceConfig.operations.create;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support creating new records`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const requestSchema = operation.request_schema;\n  const isEmptyResponse = !properties || (requestSchema != null && requestSchema.type === 'undefined');\n  const headers = isEmptyResponse ? {} : { 'Content-Type': 'application/json' };\n  const body = isEmptyResponse ? undefined : JSON.stringify(properties);\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n    // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const response = await fetch(url, { method: 'POST', headers, body });\n  if (!response.ok) {\n    throw response;\n  }\n  let result;\n  try {\n    result = await response.json();\n  } catch (e) {\n    result = null;\n  }\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (result != null && resultPath.length) {\n    result = result[resultPath.shift()];\n  }\n  return result;\n}\n\ntry {\n  const response = await makeRequest();\n  return [0, { response }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["10544d20.64c85"],["ca3c4967.8fc25"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceCreateResponse","title":"Response","description":"Response returned by the data resource after the record is successfully created."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while creating the record."}},"additionalProperties":false}]},{"x":210,"y":40,"z":"own_282b3fcc.5ec11","id":"1f41115b.4a731","func":"const { supersonic } = inputs;\nawait supersonic.api.navigation.replaceToDefault();","type":"function2","noerr":0,"wires":[],"outputs":0,"function_inputs":{"key":{"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[]},{"x":420,"y":50,"z":"own_100f5064.6f140","id":"1fe9fc4d.4458c","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"records":{"key":"records@@@f0bf1a1a.10aa3","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_20bb6b4f.8c11d","id":"206e6ffc.66d62","func":"const { numberOfPages, supersonic } = inputs;\nawait supersonic.api.navigation.pop({\n  steps: numberOfPages,\n});","type":"function2","noerr":0,"wires":[],"outputs":0,"function_inputs":{"key":{"supersonic":{"key":"supersonic","source":"msg"},"numberOfPages":{"key":"numberOfPages","source":"input"}},"source":"object"},"function_outputs":[]},{"x":420,"y":50,"z":"own_91f3e62e.3f65c","id":"2efe9993.2abdf","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":210,"y":40,"z":"own_21057d66.1a85e","id":"441d4b92.6ac8d","func":"const { request, supersonic } = inputs;\nconst {\n  resourceName,\n  id,\n  properties = {},\n  parameters = {},\n} = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n  // const gyverDomain = supersonic.api.app.getGyverDomainSync();\n\n  const getTLD = () => {\n    const environment = self.DOLAN.environment.endpoints.data;\n    let TLD = environment.match(/.*\\.(.*gyver\\..{2,5})\\//)[1];\n    if (TLD.includes('/')) {\n      TLD = TLD.substring(9, TLD.length - 3);\n    } else {\n      TLD = TLD.substring(9, TLD.length);\n    }\n    return TLD;\n  };\n\n  const TLD = self.DOLAN ? getTLD() : '';\n  if (!resourceConfig) {\n    if (TLD === 'eu' || TLD === 'black') {\n      throw new Error(`Couldn't find data resource with given name: ${resourceName}.`);\n    }\n    // This is assumed to be a legacy data resource\n    const data = await supersonic.resource.update(resourceName, { object: properties }, id);\n    return data && data.value && data.value.object;\n  }\n\n  if (resourceConfig.type === 'agdb') {\n    const data = await supersonic.resource.update(resourceConfig.agdb_id, { object: properties }, id);\n    return data && data.value && data.value.object;\n  }\n  // Update a local data resource\n  if (resourceConfig.type === 'local') {\n    if (id == null) {\n      throw new Error(`Missing ${resourceName} record ID`);\n    }\n    // Omit the 'id' from the properties in case it has it\n    const updatedProperties = { ...properties };\n    delete updatedProperties.id;\n    const { appId } = await supersonic.api.app.getAppId();\n    const key = `local-resource:${appId}:${resourceName}:${id}`;\n    const { data: record } = await supersonic.api.asyncStorage.getItem({ key });\n    if (record == null || typeof record !== 'object' || typeof record.id === 'undefined') {\n      throw new Error(`Record ${resourceName} with ID ${id} does not exist`);\n    }\n    const updatedRecord = { ...record, ...updatedProperties };\n    await supersonic.api.asyncStorage.setItem({ key, data: updatedRecord });\n    return updatedRecord;\n  }\n  if (['odata'].includes(resourceConfig.type)) {\n    const driver = supersonic.api.data.drivers[resourceConfig.type];\n    if (!driver) {\n      throw new Error(`Missing driver for Resource ${resourceName}`);\n    }\n    const agQuery = {\n      resource: {\n        ...resourceConfig,\n        // Adding baseURL here as transdolan strips original baseURL...\n        baseURL: resourceConfig.base_url,\n      },\n      operation: 'update',\n      ...request,\n    };\n    const response = await driver.execute(agQuery);\n    if (!response || !response.data || response.data.error) {\n      throw new Error(response.data && response.data.error ? response.data.error : 'Update request failed');\n    }\n    return response.data;\n  }\n  // Update a \"REST\" data resource\n  const operation = resourceConfig.operations.replace;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support updating records`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const requestSchema = operation.request_schema;\n  const isEmptyResponse = !properties || (requestSchema != null && requestSchema.type === 'undefined');\n  const headers = isEmptyResponse ? {} : { 'Content-Type': 'application/json' };\n  const body = isEmptyResponse ? undefined : JSON.stringify(properties);\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n    // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const method = operation.method || 'PUT';\n  const response = await fetch(url, { method, headers, body });\n  if (!response.ok) {\n    throw response;\n  }\n  let result = await response.json();\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (result != null && resultPath.length) {\n    result = result[resultPath.shift()];\n  }\n  return result;\n}\n\ntry {\n  const response = await makeRequest();\n  return [0, { response }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["58e438b4.7c48c"],["1b4bfc12.808a7"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceReplaceResponse","title":"Response","description":"Response returned by the data resource after the record is successfully updated."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while updating the record."}},"additionalProperties":false}]},{"x":420,"y":50,"z":"own_21057d66.1a85e","id":"58e438b4.7c48c","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"response":{"key":"response@@@441d4b92.6ac8d","source":"node"}},"source":"object"}},{"x":210,"y":40,"z":"own_8fe6bea6.1072","id":"6afc87de.47ec9","func":"const { request, supersonic } = inputs;\nconst {\n  resourceName,\n  properties,\n  id,\n  parameters = {},\n} = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n  // const gyverDomain = supersonic.api.app.getGyverDomainSync();\n\n  const getTLD = () => {\n    const environment = self.DOLAN.environment.endpoints.data;\n    let TLD = environment.match(/.*\\.(.*gyver\\..{2,5})\\//)[1];\n    if (TLD.includes('/')) {\n      TLD = TLD.substring(9, TLD.length - 3);\n    } else {\n      TLD = TLD.substring(9, TLD.length);\n    }\n    return TLD;\n  };\n\n  const TLD = self.DOLAN ? getTLD() : '';\n  if (!resourceConfig) {\n    if (TLD === 'eu' || TLD === 'black') {\n      throw new Error(`Couldn't find data resource with given name: ${resourceName}.`);\n    }\n    // This is assumed to be a legacy data resource\n    await supersonic.resource.remove(resourceName, id);\n    return {};\n  }\n  // Delete a local data resource\n  if (resourceConfig.type === 'local') {\n    if (id == null) {\n      throw new Error(`Missing ${resourceName} record ID`);\n    }\n    const { appId } = await supersonic.api.app.getAppId();\n    const key = `local-resource:${appId}:${resourceName}:${id}`;\n    await supersonic.api.asyncStorage.removeItem({ key });\n    return {};\n  }\n  if (resourceConfig.type === 'agdb') {\n    const data = await supersonic.resource.remove(resourceConfig.agdb_id, id);\n    return data && data.value && data.value.object;\n  }\n  if (['odata'].includes(resourceConfig.type)) {\n    const driver = supersonic.api.data.drivers[resourceConfig.type];\n    if (!driver) {\n      throw new Error(`Missing driver for Resource ${resourceName}`);\n    }\n    const agQuery = {\n      resource: {\n        ...resourceConfig,\n        // Adding baseURL here as transdolan strips original baseURL...\n        baseURL: resourceConfig.base_url,\n      },\n      operation: 'delete',\n      ...request,\n    };\n    const response = await driver.execute(agQuery);\n    if (!response || !response.data || response.data.error) {\n      throw new Error(response.data && response.data.error ? response.data.error : 'Request failed');\n    }\n    return response.data;\n  }\n  // Delete a \"REST\" data resource\n  const operation = resourceConfig.operations.delete;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support deleting records`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const requestSchema = operation.request_schema;\n  const isEmptyResponse = !properties || (requestSchema != null && requestSchema.type === 'undefined');\n  const headers = isEmptyResponse ? {} : { 'Content-Type': 'application/json' };\n  const body = isEmptyResponse ? undefined : JSON.stringify(properties);\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n      // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const response = await fetch(url, { method: 'DELETE', headers, body });\n  if (!response.ok) {\n    throw response;\n  }\n  let result;\n  try {\n    result = await response.json();\n  } catch (error) {\n    result = {};\n  }\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (result != null && resultPath.length) {\n    result = result[resultPath.shift()];\n  }\n  return result;\n}\n\ntry {\n  const response = await makeRequest();\n  return [0, { response }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["1333ac45.8009c"],["6b1b3c9b.2009a"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceDeleteResponse","title":"Response","description":"Response returned by the data resource after the record is successfully deleted."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while deleting the record."}},"additionalProperties":false}]},{"x":420,"y":100,"z":"own_8fe6bea6.1072","id":"6b1b3c9b.2009a","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@6afc87de.47ec9","source":"node"}},"source":"object"}},{"x":420,"y":100,"z":"own_d51109f.3b25d","id":"731bd1e9.4983c","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@19b93bf3.89208","source":"node"}},"source":"object"}},{"x":420,"y":50,"z":"own_2277ac59.912ff","id":"b1539337.3b2a5","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":420,"y":50,"z":"own_d51109f.3b25d","id":"c55913f3.8d802","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"record":{"key":"record@@@19b93bf3.89208","source":"node"}},"source":"object"}},{"x":420,"y":100,"z":"own_1d6d336a.9126c","id":"ca3c4967.8fc25","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{"error":{"key":"error@@@1ed52ea2.56495","source":"node"}},"source":"object"}},{"x":420,"y":50,"z":"own_bd0c25ba.5aaf3","id":"d12b40e5.694bb","type":"set-subflow-output","wires":[[]],"subflow_output":{"key":{},"source":"object"}},{"x":210,"y":40,"z":"own_105ec0bb.2f7d7","id":"dd5da27b.11c99","func":"const { assignment, supersonic, contextId } = inputs;\nconst { reference, data } = assignment || {};\nawait supersonic.context.setDataReference(reference, data, true, contextId);","type":"function2","noerr":0,"wires":[["15f7596e.557a0"]],"outputs":1,"function_inputs":{"key":{"contextId":{"key":"contextId","source":"msg"},"assignment":{"key":"assignment","source":"input"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":210,"y":40,"z":"own_212bc4df.27d56","id":"ec5f3811.2f5fa","func":"const { variable, supersonic, contextId } = inputs;\nconst { reference, value } = variable;\nawait supersonic.context.setAppVariable(reference, value, contextId);","type":"function2","noerr":0,"wires":[["184083d6.635bb"]],"outputs":1,"function_inputs":{"key":{"variable":{"key":"variable","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{},"additionalProperties":false}]},{"x":210,"y":40,"z":"own_100f5064.6f140","id":"f0bf1a1a.10aa3","func":"const { request, supersonic } = inputs;\nconst { resourceName, parameters = {} } = request;\n\nasync function makeRequest() {\n  const resourceConfig = supersonic.api.data.getResourceConfig(resourceName);\n\n  if (!resourceConfig || resourceConfig.type === 'agdb') {\n    // This is assumed to be a legacy data resource\n    const query = parameters.query || {};\n    // AGDB -related parameters are added to the query in a special way\n    const { sort } = parameters;\n    const { filters } = parameters;\n    const { limit } = parameters;\n    const { skip } = parameters;\n\n    if (sort != null) {\n      query.sort = JSON.stringify(sort);\n    }\n    if (filters != null) {\n      query.query = JSON.stringify(filters);\n    }\n    if (limit != null) {\n      query.limit = limit;\n    }\n    if (skip != null) {\n      query.skip = skip;\n    }\n\n    const backendResourceName = (resourceConfig && resourceConfig.agdb_id) || resourceName;\n    const data = await supersonic.resource.findAll(backendResourceName, query);\n    return (data && data.value && data.value.objects) || [];\n  }\n  // Load a local data resource\n  if (resourceConfig.type === 'local') {\n    const { appId } = await supersonic.api.app.getAppId();\n    const keyPrefix = `local-resource:${appId}:${resourceName}:`;\n    const { data: allKeys } = await supersonic.api.asyncStorage.getAllKeys();\n    const keys = allKeys.filter((key) => key.startsWith(keyPrefix));\n    const { data: results } = await supersonic.api.asyncStorage.multiGet({ data: keys });\n    return (results || [])\n      .map(([, record]) => {\n        if (typeof record === 'string') {\n          try {\n            return JSON.parse(record);\n          } catch (error) {\n            return null;\n          }\n        }\n        return record;\n      })\n      .filter((record) => record != null && typeof record === 'object' && typeof record.id !== 'undefined');\n  }\n  if (['odata'].includes(resourceConfig.type)) {\n    const driver = supersonic.api.data.drivers[resourceConfig.type];\n    if (!driver) {\n      throw new Error(`Missing driver for Resource ${resourceName}`);\n    }\n    const agQuery = {\n      resource: {\n        ...resourceConfig,\n        // Adding baseURL here as transdolan strips original base url...\n        baseURL: resourceConfig.base_url,\n      },\n      operation: 'list',\n      ...request,\n    };\n    const response = await driver.execute(agQuery);\n    if (!response || !response.data || response.data.error) {\n      throw new Error(response.data && response.data.error ? response.data.error : 'Request failed');\n    }\n    return response.data;\n  }\n  // Load a \"REST\" data resource\n  const operation = resourceConfig.operations.list;\n  if (!operation) {\n    throw new Error(`Resource ${resourceName} does not support getting record collections`);\n  }\n  const requestParameters = [\n    ...resourceConfig.parameters,\n    ...operation.parameters,\n  ];\n  const headers = {};\n  const queryComponents = [];\n  let url = `${resourceConfig.base_url}${operation.relative_path || ''}`;\n  requestParameters.forEach((parameter) => {\n    let value = parameters[parameter.id];\n    if (parameter.is_static || typeof value === 'undefined') {\n      value = parameter.default;\n    }\n    if (value == null) {\n      // No value for this parameter\n      if (parameter.is_optional) {\n        return;\n      }\n      throw new Error(`Missing required parameter ${JSON.stringify(parameter.title)}`);\n    }\n    // Map the parameter to headers/URL/query\n    const { placement } = parameter;\n    const placementKey = parameter.placement_key;\n    if (placement === 'header') {\n      // Add to headers\n      headers[placementKey] = value;\n    } else if (placement === 'query') {\n      // Add to the URL as a query parameter\n      queryComponents.push(`${encodeURIComponent(placementKey)}=${encodeURIComponent(String(value))}`);\n    } else if (placement === 'path') {\n      // Replace the placeholder in the URL with escaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), encodeURIComponent(String(value)));\n    } else if (placement === 'url') {\n      // Replace the placeholder in the URL with unescaped string\n      url = url.replace(new RegExp(`{\\\\s*${placementKey}\\\\s*}`, 'g'), String(value));\n    }\n  });\n  // Add any query parameters to the URL\n  if (queryComponents.length) {\n    const newQuery = queryComponents.join('&');\n    url = url.replace(/(?:\\?(.*))?$/, (_, query) => (query ? `?${query}&${newQuery}` : `?${newQuery}`));\n  }\n  // Perform the request\n  const response = await fetch(url, { method: 'GET', headers });\n  if (!response.ok) {\n    throw response;\n  }\n  const responseJson = await response.json();\n  let results = responseJson;\n  const resultPath = operation.response_key_path ? operation.response_key_path.split('.') : [];\n  while (results != null && resultPath.length) {\n    results = results[resultPath.shift()];\n  }\n  if (!Array.isArray(results)) {\n    throw new Error(`\nThe result was not an array. Maybe the data you're looking for is inside one of the response object keys?\n\n${JSON.stringify(responseJson, null, 2)}\n`);\n  }\n  return results;\n}\n\ntry {\n  const records = await makeRequest();\n  return [0, { records }];\n} catch (error) {\n  // eslint-disable-next-line no-console\n  // console.warn(error);\n  let errorStr = String(error);\n\n  if (errorStr.startsWith('Error: Couldn\\'t find data resource')) {\n    return [1, {\n      error: {\n        code: 'resourceNotFound',\n        status: 404,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  if (errorStr === 'TypeError: Failed to fetch') {\n    errorStr += '. Does the server allow CORS?';\n    return [1, {\n      error: {\n        code: 'requestFailed',\n        status: error.status,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  } if (!error.json) {\n    return [1, {\n      error: {\n        code: 'unknown',\n        status: -1,\n        message: errorStr,\n        rawError: error,\n      },\n    }];\n  }\n  let rawError;\n  try {\n    const body = await error.json();\n    rawError = body;\n    errorStr = `JSON error response from server: ${JSON.stringify(body)}.`;\n  } catch {\n    errorStr = 'Non-JSON error body.';\n    rawError = { message: errorStr };\n  } finally {\n    // eslint-disable-next-line no-unsafe-finally\n    return [1, {\n      error: {\n        code: 'serverError',\n        status: error.status,\n        message: errorStr,\n        rawError,\n      },\n    }];\n  }\n}","type":"function2","noerr":0,"wires":[["1fe9fc4d.4458c"],["1c88f5a9.1d6dc"]],"outputs":2,"function_inputs":{"key":{"request":{"key":"request","source":"input"},"contextId":{"key":"contextId","source":"msg"},"supersonic":{"key":"supersonic","source":"msg"}},"source":"object"},"function_outputs":[{"type":"object","properties":{"records":{"name":"records","type":"dataResourceListResponse","title":"Collection of records","description":"The successfully retrieved collection of records."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while fetching the collection of records."}},"additionalProperties":false}]},{"id":"own_8fe6bea6.1072","in":[{"x":40,"y":40,"wires":[{"id":"6afc87de.47ec9"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"1333ac45.8009c","port":0}]},{"x":490,"y":100,"wires":[{"id":"6b1b3c9b.2009a","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceDeleteRequest","title":"Delete data record request","minLength":1,"description":"Configuration required by the data resource to delete a single data record."}],"outputSchemas":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceDeleteResponse","title":"Response","description":"Response returned by the data resource after the record is successfully deleted."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while deleting the record."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_d51109f.3b25d","in":[{"x":40,"y":40,"wires":[{"id":"19b93bf3.89208"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"c55913f3.8d802","port":0}]},{"x":490,"y":100,"wires":[{"id":"731bd1e9.4983c","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceRetrieveRequest","title":"Get data record request","minLength":1,"description":"Configuration required by the selected data resource to get a single data record."}],"outputSchemas":[{"type":"object","properties":{"record":{"name":"record","type":"dataResourceRetrieveResponse","title":"Record","description":"The successfully retrieved record."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown","responseMustBeObject"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while fetching the record.\n- `responseMustBeObject`: Thrown if the server does not return an object as a response for a single data record request."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_100f5064.6f140","in":[{"x":40,"y":40,"wires":[{"id":"f0bf1a1a.10aa3"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"1fe9fc4d.4458c","port":0}]},{"x":490,"y":100,"wires":[{"id":"1c88f5a9.1d6dc","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceListRequest","title":"Get data record collection request","minLength":1,"description":"Configuration required by the selected data resource to get a collection of data records."}],"outputSchemas":[{"type":"object","properties":{"records":{"name":"records","type":"dataResourceListResponse","title":"Collection of records","description":"The successfully retrieved collection of records."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while fetching the collection of records."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_105ec0bb.2f7d7","in":[{"x":40,"y":40,"wires":[{"id":"dd5da27b.11c99"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"15f7596e.557a0","port":0}]}],"type":"subflow","arguments":[{"name":"assignment","type":"dataReferenceAssignment","title":"Data variable","minLength":1,"description":"Data variable to set"}],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"id":"own_1d6d336a.9126c","in":[{"x":40,"y":40,"wires":[{"id":"1ed52ea2.56495"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"10544d20.64c85","port":0}]},{"x":490,"y":100,"wires":[{"id":"ca3c4967.8fc25","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceCreateRequest","title":"Create data record request","minLength":1,"description":"Configuration required by the selected data resource to create a new data record."}],"outputSchemas":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceCreateResponse","title":"Response","description":"Response returned by the data resource after the record is successfully created."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while creating the record."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_20bb6b4f.8c11d","in":[{"x":40,"y":40,"wires":[{"id":"206e6ffc.66d62"}]}],"out":[],"type":"subflow","arguments":[{"name":"numberOfPages","type":"number","title":"Number of pages","default":1,"description":"Go back more than one page."}],"outputSchemas":[],"outputArguments":[]},{"id":"own_21057d66.1a85e","in":[{"x":40,"y":40,"wires":[{"id":"441d4b92.6ac8d"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"58e438b4.7c48c","port":0}]},{"x":490,"y":100,"wires":[{"id":"1b4bfc12.808a7","port":0}]}],"type":"subflow","arguments":[{"name":"request","type":"dataResourceReplaceRequest","title":"Update data record request","minLength":1,"description":"Configuration required by the selected data resource to update an existing data record."}],"outputSchemas":[{"type":"object","properties":{"response":{"name":"response","type":"dataResourceReplaceResponse","title":"Response","description":"Response returned by the data resource after the record is successfully updated."}},"additionalProperties":false},{"type":"object","properties":{"error":{"name":"error","type":"object","title":"Error","properties":{"code":{"enum":["requestFailed","serverError","resourceNotFound","unknown"],"type":"string"},"message":{"type":"string"},"rawError":{"type":"value"}},"description":"One of the following error codes:\n\n- `requestFailed`: Thrown if the entire request failed due to e.g. CORS issues or no network connectivity.\n- `serverError`: Thrown if the server returned an error response.\n- `resourceNotFound`: Thrown if the resouce you are trying to get was not found.\n- `unknown`: Thrown if an unknown error occurred while updating the record."}},"additionalProperties":false}],"outputArguments":[]},{"id":"own_212bc4df.27d56","in":[{"x":40,"y":40,"wires":[{"id":"ec5f3811.2f5fa"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"184083d6.635bb","port":0}]}],"type":"subflow","arguments":[{"name":"variable","type":"appVariableAssignment","title":"Set app variable","minLength":1,"description":"Sets the target app variable to a new value."}],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"id":"own_2277ac59.912ff","in":[{"x":40,"y":40,"wires":[{"id":"14ff44fa.42c4b"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"b1539337.3b2a5","port":0}]}],"type":"subflow","arguments":[{"name":"page","type":"page","title":"Page","minLength":1,"description":"Target page to navigate to."},{"name":"params","type":"object","title":"Parameters","minLength":1,"description":"Parameters to pass to the target page."},{"name":"openInModal","type":"boolean","title":"Open in modal?","default":false,"minLength":1,"description":"If `true`, the page will be opened in a modal window."}],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"id":"own_282b3fcc.5ec11","in":[{"x":40,"y":40,"wires":[{"id":"1f41115b.4a731"}]}],"out":[],"type":"subflow","arguments":[],"outputSchemas":[],"outputArguments":[]},{"id":"own_91f3e62e.3f65c","in":[{"x":40,"y":40,"wires":[{"id":"1eb859fe.2c9fd"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"2efe9993.2abdf","port":0}]}],"type":"subflow","arguments":[],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"id":"own_97b54227.3b127","in":[{"x":40,"y":40,"wires":[{"id":"147f90f1.617fe"}]}],"out":[{"x":380,"y":40,"wires":[{"id":"147f90f1.617fe","port":0}]}],"type":"subflow","arguments":[{"name":"time","type":"number","title":"Time to wait","default":500,"minLength":1,"description":"Time to wait as an integer. Negative values result in 0 delay."},{"enum":["ms","s","min","h"],"name":"unit","type":"string","title":"Unit","default":"ms","minLength":1,"description":"Unit of time to wait: `ms` for millisecond, `s` for second, `min` for minute and `h` for hour."}],"outputArguments":[]},{"id":"own_bd0c25ba.5aaf3","in":[{"x":40,"y":40,"wires":[{"id":"1182b19b.3b257"}]}],"out":[{"x":490,"y":40,"wires":[{"id":"d12b40e5.694bb","port":0}]}],"type":"subflow","arguments":[{"name":"title","type":"json","title":"Dialog title","minLength":1,"description":"Title text to show on the alert dialog."},{"name":"message","type":"json","title":"Dialog message","description":"Message text to show under the title."},{"name":"dismissLabel","type":"string","title":"Dismiss button label","default":"OK","description":"Text label on the dismiss button."}],"outputSchemas":[{"type":"object","properties":{},"additionalProperties":false}],"outputArguments":[]},{"x":100,"y":30,"z":"page:1:component:9589551d-15ca-4d17-b417-b9dab68230f9","id":"4dd7d27c.9f853c","type":"event","wires":[["f6403169.dd8da8"]],"idType":"event","eventSource":"page:1:component:9589551d-15ca-4d17-b417-b9dab68230f9:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page1"},{"x":393,"y":32,"z":"page:1:component:9589551d-15ca-4d17-b417-b9dab68230f9","id":"f6403169.dd8da8","page":"page.Page4","type":"subflow:own_2277ac59.912ff","wires":[[]],"params":{},"page-type":"page","openInModal":false,"params-type":{},"openInModal-type":"bool","subflow_input_arguments":{"page":{"key":"page.Page4","source":"page"},"params":{"key":{},"source":{}},"openInModal":{"key":false,"source":"bool"}},"pageId":"page.Page1"},{"x":110,"y":40,"z":"page:1","id":"2a911734ad509.7d8c3b20aa171","type":"event","wires":[["4ef24e3699a13.1000130697248"]],"idType":"event","eventSource":"page:1:onPageDidMount","fallbackName":"Page mounted","isConfigurable":true,"pageId":"page.Page1"},{"x":320,"y":40,"z":"page:1","id":"4ef24e3699a13.1000130697248","type":"subflow:own_91f3e62e.3f65c","wires":[[]],"pageId":"page.Page1"},{"x":350,"y":40,"z":"page:3:component:2f52859c-b4a3-41fc-87ef-9f6459db804a","id":"b4a82e1e.6d169","type":"subflow:own_bd0c25ba.5aaf3","title":"Logging in with credentials","wires":[["43083610.5c93a8"]],"title-type":"str","dismissLabel":"OK","dismissLabel-type":"str","subflow_input_arguments":{"title":{"key":"Logging in with credentials","source":"str"},"message":{"key":"","source":"str"},"dismissLabel":{"key":"OK","source":"str"}},"pageId":"page.Page3"},{"x":610,"y":40,"z":"page:3:component:2f52859c-b4a3-41fc-87ef-9f6459db804a","id":"43083610.5c93a8","type":"subflow:own_212bc4df.27d56","wires":[["5c70b92a.a99e98"]],"variable":{"value":{"id":"1","metadata":{"paidUser":true},"username":"Agnus MacGyver"},"reference":"currentUser"},"variable-type":{"value":{"id":"str","metadata":{"paidUser":"bool"},"username":"str"},"reference":"app-variable-ref"},"subflow_input_arguments":{"variable":{"key":{"value":{"id":"1","metadata":{"paidUser":true},"username":"Agnus MacGyver"},"reference":"currentUser"},"source":{"value":{"id":"str","metadata":{"paidUser":"bool"},"username":"str"},"reference":"app-variable-ref"}}},"pageId":"page.Page3"},{"x":840,"y":40,"z":"page:3:component:2f52859c-b4a3-41fc-87ef-9f6459db804a","id":"5c70b92a.a99e98","type":"subflow:own_282b3fcc.5ec11","wires":[],"pageId":"page.Page3"},{"x":110,"y":40,"z":"page:3:component:2f52859c-b4a3-41fc-87ef-9f6459db804a","id":"62545d3e.f3d4a4","type":"event","wires":[["b4a82e1e.6d169"]],"idType":"event","eventSource":"page:3:component:2f52859c-b4a3-41fc-87ef-9f6459db804a:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page3"},{"x":340,"y":40,"z":"page:3","id":"52f3f36d.c993c79a","type":"subflow:own_91f3e62e.3f65c","wires":[[]],"pageId":"page.Page3"},{"x":110,"y":40,"z":"page:3","id":"5b31874d.4b6d17f1","type":"event","wires":[["52f3f36d.c993c79a"]],"idType":"event","eventSource":"page:3:onPageDidMount","fallbackName":"Page mounted","isConfigurable":true,"pageId":"page.Page3"},{"x":394,"y":31,"z":"page:4:component:93e434a5-5cd3-4fb8-b94d-b068559bf224","id":"33896390.a144e4","type":"subflow:own_20bb6b4f.8c11d","wires":[],"subflow_input_arguments":{"numberOfPages":{"key":1,"source":"num"}},"pageId":"page.Page4"},{"x":100,"y":30,"z":"page:4:component:93e434a5-5cd3-4fb8-b94d-b068559bf224","id":"3507578.f3f09a8","type":"event","wires":[["33896390.a144e4"]],"idType":"event","eventSource":"page:4:component:93e434a5-5cd3-4fb8-b94d-b068559bf224:tap","fallbackName":"Component tap","isConfigurable":true,"pageId":"page.Page4"},{"x":110,"y":40,"z":"page:4","id":"15459e91c236a.c6b701f3d76d4","type":"event","wires":[["22534944e0aae.27e685ba0540f"]],"idType":"event","eventSource":"page:4:onPageDidMount","fallbackName":"Page mounted","isConfigurable":true,"pageId":"page.Page4"},{"x":320,"y":40,"z":"page:4","id":"22534944e0aae.27e685ba0540f","type":"subflow:own_91f3e62e.3f65c","wires":[[]],"pageId":"page.Page4"}],"components":{"1-a6d20c18-b661-4059-ac11-405c7c986bf8":{"id":"1-a6d20c18-b661-4059-ac11-405c7c986bf8","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:1:component:a6d20c18-b661-4059-ac11-405c7c986bf8","styles":{"holder":{"flex":1,"backgroundColor":"rgb(255,255,255)","paddingTop":8,"paddingLeft":16,"paddingRight":16,"paddingBottom":8,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Layout","pageId":"page.Page1"},"5c233893-a342-49a3-bdd6-2419a0199d0d":{"id":"5c233893-a342-49a3-bdd6-2419a0199d0d","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Welcome to Appgyver!","visible":true,"flowGroupId":"page:1:component:5c233893-a342-49a3-bdd6-2419a0199d0d","styles":{"text":{"color":"rgb(0,0,0)","fontSize":20,"fontFamily":"Open Sans","fontWeight":"600","lineHeight":36,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":2,"textAlignVertical":"auto","textDecorationLine":"none","textDecorationStyle":"solid","textShadowOffset":{"width":0,"height":0},"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page1"},"3c76debe-639f-4864-83ee-80bbe794a0ee":{"id":"3c76debe-639f-4864-83ee-80bbe794a0ee","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Hi there! My name is Javier Martin and today I'm going to show you some basics of Appgyver","visible":true,"flowGroupId":"page:1:component:3c76debe-639f-4864-83ee-80bbe794a0ee","styles":{"text":{"color":"rgb(0,0,0)","fontSize":16,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid","textShadowOffset":{"width":0,"height":0},"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page1"},"9589551d-15ca-4d17-b417-b9dab68230f9":{"id":"9589551d-15ca-4d17-b417-b9dab68230f9","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","disabled"],"label":"Go to page 2\n","visible":true,"disabled":false,"flowGroupId":"page:1:component:9589551d-15ca-4d17-b417-b9dab68230f9","styles":{"text":{"color":"rgb(255, 255, 255)","fontSize":18,"fontFamily":"Open Sans","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"center","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"button":{"marginTop":8,"minHeight":56,"borderWidth":0,"paddingLeft":8,"shadowColor":"rgba(36, 36, 38, 0.25)","borderRadius":3,"marginBottom":8,"paddingRight":8,"shadowRadius":7,"backgroundColor":"rgb(9, 59, 154)","shadowOffset":{"width":0,"height":4},"shadowOpacity":0,"display":"flex","opacity":1,"position":"relative","alignSelf":"auto","alignItems":"stretch","marginLeft":0,"paddingTop":0,"marginRight":0,"paddingBottom":0,"justifyContent":"center","backfaceVisibility":"hidden","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"4dd7d27c.9f853c"}],"onPress":[{"id":"4dd7d27c.9f853c"}]}},"reactClass":"Button","pageId":"page.Page1"},"2-e6602194-00dd-4c72-85cc-ce699e6a5238":{"id":"2-e6602194-00dd-4c72-85cc-ce699e6a5238","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:2:component:e6602194-00dd-4c72-85cc-ce699e6a5238","styles":{"holder":{"flex":1,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Layout","pageId":"page.Page2"},"3-361b17d0-08fc-4f10-8f2e-09605fbf155e":{"id":"3-361b17d0-08fc-4f10-8f2e-09605fbf155e","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:3:component:361b17d0-08fc-4f10-8f2e-09605fbf155e","styles":{"holder":{"flex":1,"backgroundColor":"rgb(255,255,255)","paddingTop":8,"paddingLeft":16,"paddingRight":16,"paddingBottom":8,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Layout","pageId":"page.Page3"},"0ed59b77-6b35-48a3-8b2c-ec11351f99ea":{"id":"0ed59b77-6b35-48a3-8b2c-ec11351f99ea","props":{"contextPropTypes":["visible","data","styles","animationsConfig","src"],"src":"https://s3.amazonaws.com/appgyver.assets/appgyver_logo_200x50%402x.png","visible":true,"flowGroupId":"page:3:component:0ed59b77-6b35-48a3-8b2c-ec11351f99ea","styles":{"con":{"marginTop":32,"borderRadius":0.1,"marginBottom":8,"width":"100%","opacity":1,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"borderColor":"rgb(0,0,0)","borderWidth":0,"marginRight":0,"backfaceVisibility":"hidden","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"image":{"width":"100%","resizeMode":"contain","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Picture","pageId":"page.Page3"},"f84bd35c-6008-42cc-aeb4-f9047b78f4f0":{"isComposite":true,"id":"f84bd35c-6008-42cc-aeb4-f9047b78f4f0","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","value","placeholder","autoCapitalize","disabled","keyboardType","multlineInput","passwordInput"],"label":"Username","value":"","placeholder":"Type here","autoCapitalize":"none","disabled":false,"keyboardType":"default","multlineInput":false,"passwordInput":false,"visible":true,"bindings":[{"type":"page-variable","sourceId":"credentials","sourceProp":"username","targetProp":"value"}],"flowGroupId":"page:3:component:f84bd35c-6008-42cc-aeb4-f9047b78f4f0","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","borderRadius":0.1,"paddingRight":0,"shadowRadius":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"backfaceVisibility":"hidden","display":"flex","marginTop":8,"minHeight":48,"alignContent":"flex-start","marginBottom":8,"flexDirection":"column","borderTopWidth":0,"justifyContent":"center","borderLeftWidth":0,"borderRightWidth":0,"borderBottomWidth":0,"borderTopLeftRadius":0,"borderTopRightRadius":0,"borderBottomEndRadius":0,"borderBottomLeftRadius":0,"borderBottomRightRadius":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["value"],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page3"},"91bfad0a-1946-4f7c-ac29-f133858a66f2":{"id":"91bfad0a-1946-4f7c-ac29-f133858a66f2","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Headline","visible":true,"bindings":[{"type":"component","sourceId":"f84bd35c-6008-42cc-aeb4-f9047b78f4f0","sourceProp":"label","sourcePropSubPath":"","targetProp":"content"}],"flowGroupId":"page:3:component:91bfad0a-1946-4f7c-ac29-f133858a66f2","styles":{"text":{"color":"rgb(138, 154, 167)","fontSize":14,"fontFamily":"Open Sans","fontWeight":"600","lineHeight":24,"fontStyle":"normal","textShadowRadius":0,"textAlignVertical":"auto","textDecorationLine":"none","textDecorationStyle":"solid","textShadowOffset":{"width":2,"height":2},"textAlign":"left","letterSpacing":0,"textTransform":"none","textShadowColor":"rgba(0,0,0,0)","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":0,"marginBottom":0,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","elevation":0,"marginLeft":0,"paddingTop":0,"borderColor":"rgba(0,0,0,0)","borderWidth":0,"marginRight":0,"paddingLeft":0,"borderRadius":0.1,"paddingRight":0,"paddingBottom":0,"borderTopWidth":0,"backgroundColor":"rgba(255,255,255,0)","borderLeftWidth":0,"borderRightWidth":0,"borderBottomWidth":0,"backfaceVisibility":"hidden","borderTopLeftRadius":0,"borderTopRightRadius":0,"borderBottomLeftRadius":0,"borderBottomRightRadius":0}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page3","rcid":"f84bd35c-6008-42cc-aeb4-f9047b78f4f0"},"2f0cac7c-3209-4282-90bf-aa02598f4266":{"id":"2f0cac7c-3209-4282-90bf-aa02598f4266","props":{"contextPropTypes":["visible","data","styles","animationsConfig","value","placeholder","keyboardType","disabled","multiline","autoCapitalize","secureTextEntry"],"placeholder":"Type here","visible":true,"keyboardType":"default","disabled":false,"multiline":false,"autoCapitalize":"none","secureTextEntry":false,"bindings":[{"type":"page-variable","sourceId":"credentials","sourceProp":"username","sourcePropSubPath":"","targetProp":"value"},{"type":"component","sourceId":"f84bd35c-6008-42cc-aeb4-f9047b78f4f0","sourceProp":"placeholder","sourcePropSubPath":"","targetProp":"placeholder"},{"type":"component","sourceId":"f84bd35c-6008-42cc-aeb4-f9047b78f4f0","sourceProp":"keyboardType","sourcePropSubPath":"","targetProp":"keyboardType"},{"type":"component","sourceId":"f84bd35c-6008-42cc-aeb4-f9047b78f4f0","sourceProp":"disabled","sourcePropSubPath":"","targetProp":"disabled"},{"type":"component","sourceId":"f84bd35c-6008-42cc-aeb4-f9047b78f4f0","sourceProp":"multlineInput","sourcePropSubPath":"","targetProp":"multiline"},{"type":"component","sourceId":"f84bd35c-6008-42cc-aeb4-f9047b78f4f0","sourceProp":"autoCapitalize","sourcePropSubPath":"","targetProp":"autoCapitalize"},{"type":"component","sourceId":"f84bd35c-6008-42cc-aeb4-f9047b78f4f0","sourceProp":"passwordInput","sourcePropSubPath":"","targetProp":"secureTextEntry"}],"flowGroupId":"page:3:component:2f0cac7c-3209-4282-90bf-aa02598f4266","styles":{"text":{"color":"rgb(0,0,0)","fontSize":16,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"left","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"holder":{"paddingTop":8,"borderColor":"rgb(138, 154, 167)","borderStyle":"solid","paddingLeft":0,"shadowColor":"rgba(36, 36, 38, 0.25)","borderRadius":0,"paddingRight":0,"paddingBottom":8,"borderTopWidth":0,"borderLeftWidth":0,"borderRightWidth":0,"borderBottomWidth":1,"shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"width":"100%","opacity":1,"alignSelf":"auto","elevation":0,"marginTop":0,"marginLeft":0,"marginRight":0,"marginBottom":0,"backgroundColor":"rgba(255,255,255,0)","backfaceVisibility":"hidden"},"textSupplemental":{"inactiveColor":"rgb(138, 154, 167)","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["value","placeholder","keyboardType","disabled","multiline","autoCapitalize","secureTextEntry"],"expressionProps":[],"events":{}},"reactClass":"Input","pageId":"page.Page3","rcid":"f84bd35c-6008-42cc-aeb4-f9047b78f4f0"},"1396e58e-38b4-459c-83e8-313fbde50f88":{"isComposite":true,"id":"1396e58e-38b4-459c-83e8-313fbde50f88","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","value","passwordInput","placeholder","autoCapitalize","disabled","keyboardType","multlineInput"],"label":"Password","value":"","passwordInput":true,"placeholder":"Type here","autoCapitalize":"none","disabled":false,"keyboardType":"default","multlineInput":false,"visible":true,"bindings":[{"type":"page-variable","sourceId":"credentials","sourceProp":"password","targetProp":"value"}],"flowGroupId":"page:3:component:1396e58e-38b4-459c-83e8-313fbde50f88","styles":{"holder":{"opacity":1,"flexWrap":"nowrap","overflow":"visible","position":"relative","alignSelf":"auto","alignItems":"stretch","marginLeft":0,"paddingTop":0,"borderWidth":0,"marginRight":0,"paddingLeft":0,"shadowColor":"rgba(0,0,0,0.5)","borderRadius":0.1,"paddingRight":0,"shadowRadius":0,"paddingBottom":0,"backgroundColor":"rgba(255,255,255,0)","shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"backfaceVisibility":"hidden","display":"flex","marginTop":8,"minHeight":48,"alignContent":"flex-start","marginBottom":8,"flexDirection":"column","borderTopWidth":0,"justifyContent":"center","borderLeftWidth":0,"borderRightWidth":0,"borderBottomWidth":0,"borderTopLeftRadius":0,"borderTopRightRadius":0,"borderBottomEndRadius":0,"borderBottomLeftRadius":0,"borderBottomRightRadius":0},"backgroundImage":{"resizeMode":"cover","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["value"],"expressionProps":[],"events":{}},"reactClass":"FlexBoxLayout","pageId":"page.Page3"},"cdf60e16-7c8f-4324-ba3f-7ea82d8d0646":{"id":"cdf60e16-7c8f-4324-ba3f-7ea82d8d0646","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Headline","visible":true,"bindings":[{"type":"component","sourceId":"1396e58e-38b4-459c-83e8-313fbde50f88","sourceProp":"label","sourcePropSubPath":"","targetProp":"content"}],"flowGroupId":"page:3:component:cdf60e16-7c8f-4324-ba3f-7ea82d8d0646","styles":{"text":{"color":"rgb(138, 154, 167)","fontSize":14,"fontFamily":"Open Sans","fontWeight":"600","lineHeight":24,"fontStyle":"normal","textShadowRadius":0,"textAlignVertical":"auto","textDecorationLine":"none","textDecorationStyle":"solid","textShadowOffset":{"width":2,"height":2},"textAlign":"left","letterSpacing":0,"textTransform":"none","textShadowColor":"rgba(0,0,0,0)","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":0,"marginBottom":0,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","elevation":0,"marginLeft":0,"paddingTop":0,"borderColor":"rgba(0,0,0,0)","borderWidth":0,"marginRight":0,"paddingLeft":0,"borderRadius":0.1,"paddingRight":0,"paddingBottom":0,"borderTopWidth":0,"borderLeftWidth":0,"borderRightWidth":0,"borderBottomWidth":0,"backfaceVisibility":"hidden","borderTopLeftRadius":0,"borderTopRightRadius":0,"borderBottomLeftRadius":0,"borderBottomRightRadius":0}},"dynamicProps":["content"],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page3","rcid":"1396e58e-38b4-459c-83e8-313fbde50f88"},"f5b84b30-698e-4dd8-9211-aa02598f4266":{"id":"f5b84b30-698e-4dd8-9211-aa02598f4266","props":{"contextPropTypes":["visible","data","styles","animationsConfig","value","placeholder","keyboardType","disabled","multiline","autoCapitalize","secureTextEntry"],"placeholder":"Type here","visible":true,"keyboardType":"default","disabled":false,"multiline":false,"autoCapitalize":"none","secureTextEntry":false,"bindings":[{"type":"page-variable","sourceId":"credentials","sourceProp":"password","sourcePropSubPath":"","targetProp":"value"},{"type":"component","sourceId":"1396e58e-38b4-459c-83e8-313fbde50f88","sourceProp":"placeholder","sourcePropSubPath":"","targetProp":"placeholder"},{"type":"component","sourceId":"1396e58e-38b4-459c-83e8-313fbde50f88","sourceProp":"keyboardType","sourcePropSubPath":"","targetProp":"keyboardType"},{"type":"component","sourceId":"1396e58e-38b4-459c-83e8-313fbde50f88","sourceProp":"disabled","sourcePropSubPath":"","targetProp":"disabled"},{"type":"component","sourceId":"1396e58e-38b4-459c-83e8-313fbde50f88","sourceProp":"multlineInput","sourcePropSubPath":"","targetProp":"multiline"},{"type":"component","sourceId":"1396e58e-38b4-459c-83e8-313fbde50f88","sourceProp":"autoCapitalize","sourcePropSubPath":"","targetProp":"autoCapitalize"},{"type":"component","sourceId":"1396e58e-38b4-459c-83e8-313fbde50f88","sourceProp":"passwordInput","sourcePropSubPath":"","targetProp":"secureTextEntry"}],"flowGroupId":"page:3:component:f5b84b30-698e-4dd8-9211-aa02598f4266","styles":{"text":{"color":"rgb(0,0,0)","fontSize":16,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"left","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"holder":{"paddingTop":8,"borderColor":"rgb(138, 154, 167)","borderStyle":"solid","paddingLeft":0,"shadowColor":"rgba(36, 36, 38, 0.25)","borderRadius":0,"paddingRight":0,"paddingBottom":8,"borderTopWidth":0,"borderLeftWidth":0,"borderRightWidth":0,"borderBottomWidth":1,"shadowOffset":{"width":0,"height":0},"shadowOpacity":0,"width":"100%","opacity":1,"alignSelf":"auto","elevation":0,"marginTop":0,"marginLeft":0,"marginRight":0,"marginBottom":0,"backgroundColor":"rgba(255,255,255,0)","backfaceVisibility":"hidden"},"textSupplemental":{"inactiveColor":"rgb(138, 154, 167)","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":["value","placeholder","keyboardType","disabled","multiline","autoCapitalize","secureTextEntry"],"expressionProps":[],"events":{}},"reactClass":"Input","pageId":"page.Page3","rcid":"1396e58e-38b4-459c-83e8-313fbde50f88"},"2f52859c-b4a3-41fc-87ef-9f6459db804a":{"id":"2f52859c-b4a3-41fc-87ef-9f6459db804a","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","disabled"],"label":"Log in","visible":true,"disabled":false,"flowGroupId":"page:3:component:2f52859c-b4a3-41fc-87ef-9f6459db804a","styles":{"text":{"color":"rgb(255, 255, 255)","fontSize":18,"fontFamily":"Open Sans","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"center","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"button":{"marginTop":8,"minHeight":56,"borderWidth":0,"paddingLeft":8,"shadowColor":"rgba(36, 36, 38, 0.25)","borderRadius":3,"marginBottom":8,"paddingRight":8,"shadowRadius":7,"backgroundColor":"rgb(9, 59, 154)","shadowOffset":{"width":0,"height":4},"shadowOpacity":0,"display":"flex","opacity":1,"position":"relative","alignSelf":"auto","alignItems":"stretch","marginLeft":0,"paddingTop":0,"marginRight":0,"paddingBottom":0,"justifyContent":"center","backfaceVisibility":"hidden","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"62545d3e.f3d4a4"}],"onPress":[{"id":"62545d3e.f3d4a4"}]}},"reactClass":"Button","pageId":"page.Page3"},"4-88e8b06b-1133-472b-b9e7-198a391fec7d":{"id":"4-88e8b06b-1133-472b-b9e7-198a391fec7d","props":{"contextPropTypes":["visible","data","styles","animationsConfig","backgroundImage"],"visible":true,"backgroundImage":"","flowGroupId":"page:4:component:88e8b06b-1133-472b-b9e7-198a391fec7d","styles":{"holder":{"flex":1,"backgroundColor":"rgb(255,255,255)","paddingTop":8,"paddingLeft":16,"paddingRight":16,"paddingBottom":8,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Layout","pageId":"page.Page4"},"318555bc-acaf-4de5-bd8a-5dfe544db014":{"id":"318555bc-acaf-4de5-bd8a-5dfe544db014","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"This is Page 2","visible":true,"flowGroupId":"page:4:component:318555bc-acaf-4de5-bd8a-5dfe544db014","styles":{"text":{"color":"rgb(0,0,0)","fontSize":28,"fontFamily":"Open Sans","fontWeight":"600","lineHeight":36,"fontStyle":"normal","textShadowRadius":2,"textAlignVertical":"auto","textDecorationLine":"none","textDecorationStyle":"solid","textShadowOffset":{"width":0,"height":0},"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page4"},"a2cf7936-4319-4793-942a-e3b78f200d1a":{"id":"a2cf7936-4319-4793-942a-e3b78f200d1a","props":{"contextPropTypes":["visible","data","styles","animationsConfig","content"],"content":"Lorem ipsum dolor sit amet, consetetur sadipscing elitr.","visible":true,"flowGroupId":"page:4:component:a2cf7936-4319-4793-942a-e3b78f200d1a","styles":{"text":{"color":"rgb(0,0,0)","fontSize":16,"fontFamily":"Open Sans","fontWeight":"400","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"left","textShadowRadius":0,"textDecorationLine":"none","textDecorationStyle":"solid","textShadowOffset":{"width":0,"height":0},"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"view":{"marginTop":8,"marginBottom":8,"opacity":1,"padding":0,"overflow":"hidden","position":"relative","alignSelf":"auto","marginLeft":0,"marginRight":0,"backgroundColor":"rgba(255,255,255,0)","borderTopEndRadius":0,"borderTopStartRadius":0,"borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{}},"reactClass":"Text","pageId":"page.Page4"},"93e434a5-5cd3-4fb8-b94d-b068559bf224":{"id":"93e434a5-5cd3-4fb8-b94d-b068559bf224","props":{"contextPropTypes":["visible","data","styles","animationsConfig","label","disabled"],"label":"Go back!","visible":true,"disabled":false,"flowGroupId":"page:4:component:93e434a5-5cd3-4fb8-b94d-b068559bf224","styles":{"text":{"color":"rgb(255, 255, 255)","fontSize":18,"fontFamily":"Open Sans","lineHeight":24,"textTransform":"none","fontStyle":"normal","textAlign":"center","borderWidth":0,"borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0},"button":{"marginTop":8,"minHeight":56,"borderWidth":0,"paddingLeft":8,"shadowColor":"rgba(36, 36, 38, 0.25)","borderRadius":3,"marginBottom":8,"paddingRight":8,"shadowRadius":7,"backgroundColor":"rgb(9, 59, 154)","shadowOffset":{"width":0,"height":4},"shadowOpacity":0,"display":"flex","opacity":1,"position":"relative","alignSelf":"auto","alignItems":"stretch","marginLeft":0,"paddingTop":0,"marginRight":0,"paddingBottom":0,"justifyContent":"center","backfaceVisibility":"hidden","borderRightWidth":0,"borderLeftWidth":0,"borderTopWidth":0,"borderBottomWidth":0}},"dynamicProps":[],"expressionProps":[],"events":{"tap":[{"id":"3507578.f3f09a8"}],"onPress":[{"id":"3507578.f3f09a8"}]}},"reactClass":"Button","pageId":"page.Page4"}},"app":{"events":{},"id":221825},"theme":{"$fontSizeH1":42,"$fontSizeH2":28,"$fontSizeH3":21,"$fontSizeH4":18,"$fontSizeH5":16,"$fontSizeH6":14,"$spacerBase":8,"$colorNotice":"#E68619","$colorShadow":"rgba(36, 36, 38, 0.25)","$fontWeightH1":"600","$fontWeightH2":"600","$fontWeightH3":"600","$fontWeightH4":"400","$fontWeightH5":"700","$fontWeightH6":"600","$iconSizeTiny":8,"$lineHeightH1":52,"$lineHeightH2":36,"$lineHeightH3":28,"$lineHeightH4":24,"$lineHeightH5":24,"$lineHeightH6":24,"$colorNegative":"#E34850","$colorPositive":"#2D9D78","$fontSizeLabel":14,"$iconSizeLarge":32,"$iconSizeSmall":16,"$inputFontSize":16,"$buttonFontSize":18,"$iconSizeMedium":24,"$inputMinHeight":48,"$buttonMinHeight":56,"$cardBorderColor":"rgb(0,0,0)","$cardBorderStyle":"none","$cardBorderWidth":"0","$cardShadowColor":"rgba(36, 36, 38, 0.25)","$colorBackground":"rgb(255,255,255)","$colorFontNotice":"#E68619","$colorNoticeTint":"rgb(233,146,48)","$fontSizeCaption":12,"$fontWeightLabel":"600","$inputFontFamily":"Open Sans","$inputFontWeight":"400","$letterSpacingH1":"normal","$letterSpacingH2":"normal","$letterSpacingH3":"normal","$letterSpacingH4":"normal","$letterSpacingH5":"0.64","$letterSpacingH6":"normal","$lineHeightLabel":24,"$primaryTabColor":"rgb(0,0,0)","$textTransformH1":"none","$textTransformH2":"none","$textTransformH3":"none","$textTransformH4":"none","$textTransformH5":"uppercase","$textTransformH6":"none","$buttonFontFamily":"Open Sans","$cardBorderRadius":3,"$colorFontPrimary":"rgb(0,0,0)","$colorFontSubdued":"rgb(138, 154, 167)","$colorInformative":"rgb(9, 59, 154)","$colorNoticeShade":"rgb(207,121,23)","$fontFamilyHeader":"Open Sans","$imageBorderColor":"rgb(138, 154, 167)","$imageBorderStyle":"none","$imageBorderWidth":0,"$inputBorderStyle":"solid","$inputColorBorder":"rgb(138, 154, 167)","$inputShadowColor":"rgba(36, 36, 38, 0.25)","$buttonBorderStyle":"none","$buttonBorderWidth":0,"$buttonShadowColor":"rgba(36, 36, 38, 0.25)","$cardShadowEnabled":true,"$cardShadowOffsetX":0,"$cardShadowOffsetY":2,"$checkboxSizeLarge":30,"$checkboxSizeSmall":19,"$colorFontDisabled":"rgb(138, 154, 167)","$colorFontNegative":"#E34850","$colorFontPositive":"#2D9D78","$colorNegativeTint":"rgb(230,94,101)","$colorPositiveTint":"rgb(51,177,135)","$fontFamilyContent":"Open Sans","$fontSizeParagraph":16,"$fontWeightCaption":"700","$imageBorderRadius":0,"$inputBorderRadius":0,"$lineHeightCaption":20,"$listItemMinHeight":64,"$primaryAppBgColor":"rgb(240, 241, 244)","$primaryTabBgColor":"rgb(240, 241, 244)","$buttonBorderRadius":3,"$cardMarginVertical":16,"$checkboxSizeMedium":24,"$colorFontHighlight":"rgb(0,62,255)","$colorNegativeShade":"rgb(224,50,59)","$colorPositiveShade":"rgb(39,137,105)","$inputShadowEnabled":false,"$inputShadowOffsetX":0,"$inputShadowOffsetY":0,"$letterSpacingLabel":"0","$listItemImageWidth":48,"$primaryNavBarColor":"rgb(0,0,0)","$textTransformLabel":"none","$buttonShadowEnabled":false,"$buttonShadowOffsetX":0,"$buttonShadowOffsetY":4,"$cardBackgroundColor":"rgb(255,255,255)","$cardPaddingVertical":16,"$checkboxIconChecked":"check-square","$colorContentPrimary":"rgb(0,0,0)","$colorContentSubdued":"rgb(138, 154, 167)","$colorNoticeContrast":"rgb(255, 255, 255)","$fontWeightParagraph":"400","$inputBorderWidthTop":0,"$inputFontLineHeight":24,"$lineHeightParagraph":24,"$listItemBorderColor":"rgb(138, 154, 167)","$listItemBorderStyle":"solid","$listItemBorderWidth":1,"$paddingPageVertical":8,"$primaryTabTintColor":"rgb(9, 59, 154)","$buttonFontLineHeight":24,"$cardShadowBlurRadius":5,"$colorFontInformative":"rgb(9, 59, 154)","$colorFontPlaceholder":"rgb(138, 154, 167)","$colorInformativeTint":"rgb(10,68,178)","$inputBorderWidthLeft":0,"$inputColorBackground":"rgba(255,255,255,0)","$inputPaddingVertical":8,"$letterSpacingCaption":"0.48","$primaryNavBarBgColor":"rgb(240, 241, 244)","$radioButtonSizeLarge":30,"$radioButtonSizeSmall":19,"$textTransformCaption":"uppercase","$cardPaddingHorizontal":16,"$checkboxIconUnchecked":"square","$colorContentHighlight":"rgb(0,62,255)","$colorInformativeShade":"rgb(8,50,130)","$colorNegativeContrast":"rgb(255, 255, 255)","$colorPositiveContrast":"rgb(255, 255, 255)","$inputBorderWidthRight":0,"$inputShadowBlurRadius":0,"$paddingPageHorizontal":16,"$radioButtonSizeMedium":24,"$buttonShadowBlurRadius":7,"$fontSizeParagraphLarge":18,"$fontSizeParagraphSmall":14,"$inputBorderWidthBottom":1,"$inputFontLetterSpacing":"normal","$inputFontTextTransform":"none","$inputPaddingHorizontal":0,"$letterSpacingParagraph":"normal","$textTransformParagraph":"none","$buttonFontLetterSpacing":"normal","$buttonFontTextTransform":"none","$inputLabelFontTextAlign":"left","$listItemImageWidthLarge":72,"$radioButtonIconSelected":"check-square","$colorBackgroundSecondary":"rgb(240, 241, 244)","$colorInformativeContrast":"rgb(255, 255, 255)","$fontWeightParagraphLarge":"400","$fontWeightParagraphSmall":"400","$inputLabelMarginVertical":0,"$lineHeightParagraphLarge":24,"$lineHeightParagraphSmall":16,"$radioButtonIconUnselected":"square","$letterSpacingParagraphLarge":"normal","$letterSpacingParagraphSmall":"normal","$primaryTabInactiveTintColor":"rgb(138, 154, 167)","$textTransformParagraphLarge":"none","$textTransformParagraphSmall":"none","$inputLabelBottomMarginHorizontal":0},"fonts":[],"expressions":{},"globalCanvas":{"uid":"page.Page2","id":2,"contextId":"canvas/page.Page2","pageId":"page.Page2"},"i18n":{"translations":{},"supportedLanguages":[]},"environment":{"workspaceApp":{"id":221825},"app":{"id":324051,"demo":false,"paid":false,"free":true,"tokens":{"steroids":"c894ddf6d6ce6ef0332b2f38b0a3817e99c920d23c73bebf9f8929729b06aab6","data":"ba70830cf4b11cf5446700b1e95797ea","segmentOwnerId":null,"androidGcmSenderProjectId":null},"auth":{"primary":"anonymous"},"title":"Test Javi"},"links":{"user_account":"https://accounts.appgyver.com/users/edit"},"endpoints":{"domain":"appgyver.com","auth":"https://rest-auth.appgyver.com/api/v5","data":"https://proxy-api.appgyver.com/v3/","graphql":"https://graphql-api.appgyver.com/graphql_api/v1","debug":"https://debug-api.appgyver.com/debug_api"},"auth":{"endpoint":"https://rest-auth.appgyver.com/api/v5"},"data":{"type":"rest","endpoint":"https://proxy-api.appgyver.com/v3/","bundle":{"options":{"baseUrl":"https://proxy-api.appgyver.com/v3/","headers":{"steroidsAppId":"324051","steroidsApiKey":"c894ddf6d6ce6ef0332b2f38b0a3817e99c920d23c73bebf9f8929729b06aab6","RestAuthorization":"ba70830cf4b11cf5446700b1e95797ea"}},"resources":{}},"collections":[],"relations":[],"business_objects":[]},"modules":{"routes":{}}},"dataResources":{}},"__N_SSG":true}